<div class="trip-banner mb-3" style="height: 500px; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('<%= cl_image_path @trip.photo.key, crop: :fill %>');">
  <div class="text-center mt-5">
    <h1 class="font-weight-bold"><%=@trip.title%></h1>
    <p><%= @trip.city ? @trip.city : @trip.country %></p>
    <div class="mb-5">
      <% @trip.participants.each do |participant| %>
        <%= link_to user_path(participant), :action => 'go' do  %>
          <%= cl_image_tag participant.photo.key, class: "avatar-trip #{'avatar-owner' if participant == @trip.user}", style: 'margin-right: 0px;' %>
        <% end %>
      <% end %>
    </div>
    <%= link_to 'Back to trip', trip_path(@trip), class: 'btn-travel-primary' %>
  </div>
</div>

<div class="container" style="border-radius: 20px;">
  <div class="p-5 bg-white mb-3" style="border-radius: 20px;">
    <div id="messages" data-trip-id="<%= @trip.id %>">
      <% @messages.each do |message| %>
        <%= render 'message', message: message %>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [ @trip, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@trip.title}" %>
    <%= f.submit 'Send', class: 'btn-travel-primary', id: 'send-message' %>
  <% end %>
</div>
