
  <div class="activity-card">
    <% if activity.photo.attached? %>
      <div class="card__image-holder" style="background-image: url('<%= cl_image_path activity.photo.key%>'); background-size: cover">
    <% else %>
      <div class="card__image-holder" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png'); background-size: cover">
    <% end %>
      <h1 class="badge badge-pill badge-warning" style="position: absolute; top:10px; left:10px;"><%= index + 1 %></h1>
    </div>
    <div class="activity-card-title">
      <a href="" class="activity-toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
        <h6><strong><%= activity.title %></strong></h6>
        <%= activity.location %>
    </div>
    <div class="activity-card-flap flap1">
      <div class="activity-card-description mb-2">
          <p class="mb-0 "><strong><%= activity.start_date.strftime('%B %e') %> <i class="fas fa-arrow-right"></i> <%= activity.end_date.strftime('%B %e') %> (<%= pluralize (activity.end_date - activity.start_date).to_i, "day" %>)</strong></p>
          <p><strong>$ <%= activity.price %></strong></p>
          <%= activity.description %>
      </div>
      <div class="activity-card-flap flap2 ">
        <div class="card-actions">
          <a href='<%= activity.url %>' class="btn-travel-primary">Visit website</a>
        </div>
      </div>
    </div>
  </div>



