<!-- TRIP CARD -->
<div class="card-container mt-5">
  <!-- IMAGE & TITLE -->
  <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path trip.photo.key%>');">
    <h2 class="card-title"> <%=trip.title%></h2>
  </div>

  <!--  BADGES -->
  <div class="card-badges">
    <span class="badge badge-warning py-2 px-3 font-weight-light" style="position: absolute; right: 20px; top:20px;"><%= trip.departure_date - Date.today %> days before departure</span>

 <!--    Display the full badge only when a trip max capacity is reached -->
    <% if trip.max_capacity == trip.bookings.where(status: "Accepted").count %>
      <span class="badge badge-danger py-2 px-3 font-weight-light" style="position: absolute; right: 20px; top:55px;">FULL</span>
    <% end %>
   <!--    Display the accepted badge only when current user is accepted in a trip -->
    <%= if trip.bookings.where(user_id = current_user).status == "Accepted" %>
      <span class="badge badge-success py-2 px-3 font-weight-light" style="position: absolute; left: 20px; top:20px;">Accepted</span>
    <% end %>
  </div>

  <!-- USER AVATARS -->
  <div class="users">
    <li class="avatar list-inline-item" style="background-image: url(https://images.unsplash.com/photo-1543123820-ac4a5f77da38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1362&q=80);"></li>
    <li class="avatar list-inline-item" style="background-image: url(https://images.unsplash.com/photo-1543123820-ac4a5f77da38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1362&q=80);"></li>
    <li class="avatar list-inline-item" style="background-image: url(https://images.unsplash.com/photo-1543123820-ac4a5f77da38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1362&q=80);"></li>
    <li class="counter list-inline-item">+2</li>
  </div>

  <!-- CARD INFO -->
  <div class="card-info">
    <h3 class="card-destination"><%= trip.destination %></h3>
    <div class="card-bottom">
      <p class="card-description"><%= trip.description %></p>
      <div class="card-details">
        <!-- AVERAGE RATING -->
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <!-- NUMBER OF NIGHTS -->
        <p class="nb-nights"><%= (trip.return_date - trip.departure_date).to_i %> nights</p>
        <!-- PRICE RANGE -->
        <p class="price-range">$1,000 - 1,200</p>
      </div>
    </div>
  </div>
</div>

