<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top <%= 'linear-gradient login-white' if controller_name == 'pages' && action_name == 'home' %>">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "escapades-logo.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= form_tag trips_path, class: 'mt-5 mb-5', method: :get do %>
      <div class="d-flex align-items-center navbar-searchbar <%= 'hide-searchbar' if controller_name == 'pages' && action_name == 'home' %>">
        <%= text_field_tag :query,
          params[:query],
          class: "trip_country form-control",
          style: 'border-radius: 30px; height: 50px;',
          placeholder: "Type a destination..."
        %>
        <%= button_tag(type: "submit", class: "navbar-icon-bg-orange", style: 'margin-left: -45px; border: none;') do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to new_trip_path, :action => 'go' do  %>
              <div class="navbar-icon-bg-orange">
                <i class="fas fa-plus"></i>
              </div>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <div class="navbar-icon-bg-black" id="navbarDropdown" data-toggle="dropdown">
              <i class="fas fa-comment-dots"></i>
              <div class="roundcounter-red" style="position: absolute; left: 26px; top: -3px;"><%=Notification.where(receiver: current_user, read: false, notification_type: "new-chat-activity").count%>
              </div>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <p class="text-center mb-1"><strong>Choose your chatroom</strong></p>
              <% if current_user.bookings.where(status: "accepted").count == 0 %>
                <p class="text-center" style="font-size: 14px;">Join a trip first.</p>
              <% else %>
                <% current_user.bookings.where(status: "accepted").each do |booking| %>
                  <%= link_to "#{booking.trip.title} (#{Notification.where(receiver: current_user, read: false, booking: booking, notification_type: "new-chat-activity").count})", trip_messages_path(booking.trip), class: 'dropdown-item' %>
                <% end %>
              <% end %>
            </div>
          </li>
        <!--   NOTIFICATIONS -->
          <li class="nav-item dropdown">
            <div class="navbar-icon-bg-black" id="navbarDropdown" data-toggle="dropdown">
              <!-- <div class="dropdown dropleft"> -->
                <i class="fas fa-bell" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <% if Notification.where(receiver: current_user, read: false, notification_type: ["booking-accepted", "new-booking"]).count > 0  %>
                <div class="roundcounter-red" style="position: absolute; left: 26px; top: -3px;"><%=Notification.where(receiver: current_user, read: false, notification_type: ["booking-accepted", "new-booking"]).count%>
                </div>
              <% end %>
              <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="navbarDropdown" style= "min-width: 500px;">
                <% if Notification.where(receiver: current_user, read: false).count > 0  %>
                  <%= render 'shared/notifications-partial', notifications: Notification.where(receiver: current_user, read: false, notification_type: ["booking-accepted", "new-booking"]) %>
                <% else %>
                  <p class= "text-center mb-0">You have no notification for the moment ! Come back later.</p>
                <% end %>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", gravity: :face, id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "unknown-user.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
