<div class="banner d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1464207687429-7505649dae38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2252&q=80);">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-3">find the right trip with the right team.</h1>
    <!-- NB OF USERS -->
    <p class="mb-3">there are <strong> <%= pluralize Trip.all.select{|trip| trip.joinable?}.count, "trip" %></strong> & <strong><%= User.count %> buddies </strong> waiting for you! 🥳</p>
    <%= form_tag trips_path, class: 'mt-3', method: :get do %>
      <div class="d-flex align-items-center">
        <%= text_field_tag :query_banner,
          params[:query],
          class: "trip_country form-control",
          style: 'border-radius: 20px; height: 50px; width: 70vh;',
          placeholder: "Type a destination..."
        %>
        <%= button_tag(type: "submit", class: "navbar-icon-bg-orange", style: 'margin-left: -45px; border: none;') do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
    <div class= "text-center mt-3">
      <%= link_to 'or create a trip', new_trip_path, class: "btn btn-travel-primary mb-3" %>
    </div>
  </div>
</div>


<div class="container mt-5">
  <h2 class="text-center mt-5 font-weight-bold">Why Escapades?</h2>
  <div class="container text-center mt-4 mb-5">
    <div class="row">
      <div class="col-md-4 p-3">
        <%= image_tag "addfriend.png", width: 125, class: 'mb-3' %>
        <h4>Find travel buddies</h4>
        <p>Connect and join a group with same interests to plan your next trip together</p>
      </div>
      <div class="col-md-4 p-3">
        <%= image_tag "travel.png", width: 125, class: 'mb-3' %>
        <h4>Travel all together</h4>
        <p>Explore amazing destinations all around the world with your team</p>
      </div>
      <div class="col-md-4 p-3">
        <%= image_tag "fun.png", width: 125, class: 'mb-3' %>
        <h4>Share experiences</h4>
        <p>Enjoy your trip together, share unforgettable moments and make for life</p>
      </div>
    </div>
  </div>

  <!-- MAPBOX -->
  <h2 class="text-center mt-5 pb-5 font-weight-bold"><%= pluralize Trip.all.select{|trip| trip.joinable?}.count, "trip" %> are waiting for you</h2>
    <div id="map"
       style="width: 100%; height: 600px; border-radius: 20px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
