<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-sm-offset-12 mb-5 bg-white p-5 rounded">
      <h2 class="text-center mb-5">Create a new activity</h2>
      <%= simple_form_for [ @trip, @activity ] do |f| %>
        <%= f.input :title %>
        <%= f.input :description, as: :text %>
        <%= f.input :location %>
        <%= f.input :price, as: :integer %>
        <div class="row">
          <div class="col">
            <%= f.input :start_date, as: :string, input_html: {class: "departure_date_flatpickr"} %>
          </div>
          <div class="col">
            <%= f.input :end_date, as: :string, input_html: {class: "return_date_flatpickr"} %>
          </div>
        </div>
        <% if @trip.activities != [] %>
          <%= f.input :transport_type, collection: Activity::TRANSPORT, label: 'How do you want to get there? <br> Please choose your tranport type.' %>
        <% end %>
        <%= f.input :url, label: 'Please enter an URL to help your mates booking this activity.' %>
        <%= f.input :photo, as: :file, required: true %>
        <%= f.submit "Submit activity", class: "btn btn-travel-primary" %>
      <% end %>
      <hr>
      <%= link_to 'Back', trips_path, class: "btn-travel-secondary mt-2" %>
    </div>
  </div>
</div>
